@page "/"

<PageTitle>Moment 1.3 startsida</PageTitle>

<h1>Moment 1.3</h1>
<p>Detta är en webbapplikation skapad med tekniken Blazor Web Assembly.</p>
<br>
<p>Tekniken är relativt ny och innebär att ramverket .NET och C#-kod kan köras direkt i webbläsaren.</p>