@page "/json"
@inject HttpClient Http

<h1>JSON</h1>
<h2>Kurser jag läst i webbutvecklingsprogrammet:</h2>

<!-- Kontrollera om arrayen courses är tom -->
@if(courses == null) {
    <h2>Laddar data...</h2>
} else {
    // Loopa igenom innehållet och skriv ut i lista
    <ul>
        @foreach (var course in courses)
        {
            <li>@course.coursename (@course.code)</li>
        }
    </ul>
}

@code{
    // Skapa tom array
    private Course[]? courses;

    // Hämta data från courses-json-filen
    protected override async Task OnInitializedAsync() {
        courses = await Http.GetFromJsonAsync<Course[]>("courses.json");
    }

    // Klass för att hantera varje kurs och dess properties
    public class Course {
        public string? code {get; set;}
        public string? coursename {get; set;}
    }
}