<nav class="mainnav" id="mainnav">
    <ul id="mobilemenuul">
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Start</NavLink>
        </li>
        <li>
            <NavLink href="convert">Konvertering</NavLink>
        </li>
        <li>
            <NavLink href="json">JSON</NavLink>
        </li>
    </ul>
</nav>